* {
    font-family: "Roboto", "Arial", sans-serif;
}

    .background{
        background-image: url(https://playcoolmath.com/cdn/lessons/images/24/thumbnail/triangles.png) ; 
   
    }

h1 {
    margin-left: auto;
    margin-right: auto;
    width: 5em
}
h2 {
    margin-left: auto;
    margin-right: auto;
    width: 6em
}
h3 {
    margin-left: auto;
    margin-right: auto;
    width: 6em
}

table {
    background-color: lightgrey;
    border: 15px solid grey;
    margin-left: auto;
    margin-right: auto;
    width: 6em
    border-spacing: 0;
    padding: 1%;
}

td {
    text-align: center;
    padding: 4px;
}

.result {
    font-size: 24px;
}

.tryk {
    margin-left: auto;
    margin-right: auto;
    width: 0;
    border: 140px solid transparent;
    border-right: 140px solid blue;

}

#calculate {
    
    font-size: 24px;
    background-color: white;
    color: black;
    border: 3px solid red;
    border-radius: 7px;
    transition-duration: 0.8s;
    padding: 15px 20px;
}

#calculate:hover {

    background-color: red;
    color: white;
}
